@{
    ViewBag.Title = "Contact";
}
<h2>About our group</h2>
<h3></h3>


<text>
    <h2>Gruppmedlemmer:</h2><br />
    Espen Moe<br />
    Kenneth Andre Tyminski<br />
    Erik Røed<br />
    Thor-Arne Rommen Høiland<br />
    Kim Skruf Falch<br />
</text>
<br />
<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">post@example.com</a><br />   
</address>