@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Velkommen til InstaStudentGram</h1>
    <p class="lead"></p>
    <p><a href="#" class="btn btn-primary btn-lg">View pictures &raquo;</a></p>
</div>