
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form method="post" action="" enctype="multipart/form-data">
    <div id="imgInfo">
        <input name="imgTitle" type="text" id="imgTitle" placeholder="Title"/> <br />
        <input name="imgDescription" type="text" id="imgDescription" placeholder="Description" /> <br />
        <input name="imgOwner" type="text" id="imgOwner" placeholder="Owner"/> <br />
    </div>
    
    <input type="file" name="Upload" />
    <input type="submit" />
</form>

