
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form method="post" action="" enctype="multipart/form-data">
    <div id="imgInfo">
        <input class = "form-control" name="imgTitle" type="text" id="imgTitle" placeholder="Title" /> <br />
        <input class = "form-control" name="imgDescription" type="text" id="imgDescription" placeholder="Description" /> <br />
        <input class = "form-control" name="imgOwner" type="text" id="imgOwner" placeholder="Owner" /> <br />
    </div>
    
    <input class="btn btn-primary btn-lg" type="file" name="Upload" />
    <input class="btn btn-primary btn-lg" type="submit" />
</form>

