<connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-StudaGram-20151030090658.mdf;Initial Catalog=aspnet-StudaGram-20151030090658;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="CloudConnection" connectionString="DefaultEndpointsProtocol=https;AccountName=cloudoblig1;AccountKey=fBH1NR9FrB9k8QpkycWHTG9dghxg9GPxYcWYX4px+Ju5mBMEdAC+BKJbVuYKnXFq2Z8Q/P2/Tar7qNyZbobvoA==;BlobEndpoint=https://cloudoblig1.blob.core.windows.net/;TableEndpoint=https://cloudoblig1.table.core.windows.net/;QueueEndpoint=https://cloudoblig1.queue.core.windows.net/;FileEndpoint=https://cloudoblig1.file.core.windows.net/" />  
</connectionStrings>
